@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");

:root {
  --textRegular: 400;
  --textCold: 600;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: var(--textRegular);
}
